body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #116530; /* Deep green like grass */
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column; /* This ensures your sections stack vertically */
}


.upper-section {
    background-image: url('/static/images/pitch_dramatic2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.chart-section {
    background-image: url('/static/images/paper.png');
    background-size: cover;
    min-height: 70vh;
}

.stadium-section {
    background-image: url('/static/images/pitch.jpg'); /* Your football field image */
    background-size: 40%;  /* Initially, the image covers 40% of the section */
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    padding: 4rem 2rem;
    transition: background-size 0.5s ease; /* Smooth transition for zooming in/out */
}

.stadium-section.visible {
    background-size: 100%; /* When the section is in view, zoom in to cover the whole area */
}


.stadium-section.visible .overlay-content {
    transform: scale(1);
}

.title, .player-input, .voice-toggle{
    color: #000;
}

#player1, #player2 {
    width: 60%;
    padding: 0.5rem;
    font-size: 1rem;
    margin: 1rem auto;
    display: block;
    position: relative;
    z-index: 1;  /* Ensure the input field is above the suggestion box */
}

#suggestions1, #suggestions2 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    position: absolute;
    width: 60%;  /* Ensures the suggestions box is aligned with input */
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 2; /* Ensure suggestions list appears beneath the input field */
    visibility: hidden;  /* Initially hidden, will show on input */
}

#suggestions1 li, #suggestions2 li {
    padding: 0.5rem;
    cursor: pointer;
}

#suggestions1 li:hover, #suggestions2 li:hover {
    background-color: #ddd;
}

/* Show the suggestions box when there are suggestions to display */
#suggestions1.visible, #suggestions2.visible {
    visibility: visible;
}

/* Initial state, element is off-screen */
#only-slide-this {
    transform: translateX(+100%); /* Start from left off-screen */
    opacity: 0;
    transition: transform 1s ease, opacity 1s ease;
}

/* When the element becomes visible (after scrolling and button click) */
#only-slide-this.visible {
    transform: translateX(0); /* Move to its normal position */
    opacity: 1; /* Fade in */
}

